@using System.Web.Optimization

@model BusinessManager.Models.MenuDataModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Crear Menu</h2>

@using ( Html.BeginForm(null, null, FormMethod.Post ,new { enctype = "multipart/form-data" })) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Menu</legend>

        
	<div class="editor-label">
	 @Html.LabelFor(model => model.Name)
	</div>
	<div class="editor-field">
	 @Html.EditorFor(model => model.Name, new { maxLength = 50 })
	 @Html.ValidationMessageFor(model => model.Name)
	</div>
	<div class="editor-label">
	 @Html.LabelFor(model => model.URL)
	</div>
	<div class="editor-field">
	 @Html.EditorFor(model => model.URL, new { maxLength = 100 })
	 @Html.ValidationMessageFor(model => model.URL)
	</div>
	<div class="editor-label">
	 @Html.LabelFor(model => model.MenuOrder)
	</div>
	<div class="editor-field">
	 @Html.EditorFor(model => model.MenuOrder, new { maxLength = 10})
	 @Html.ValidationMessageFor(model => model.MenuOrder)
	</div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts{ 

    @Scripts.Render("~/Scripts/jquery.js")
    @Scripts.Render("~/Scripts/ckeditor/ckeditor.js") 
    @Scripts.Render("~/Scripts/jquery.fancybox.js")

    <script type="text/javascript">
        $(document).ready(function () {
            $('.fancybox').fancybox();
        });
    </script>
}

@section styles{ 
    @Styles.Render("~/Content/css/jquery.fancybox.css")
}